@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	background-color: #2c2c2c;
	color: #d87f7fd1;
}

:root {
	--foreground: #f6f5f2;
	--background: #232323;
}

@media (prefers-color-scheme: system) {
	:root {
		--foreground: #f6f5f2;
		--background: #151515;
	}
}

button:disabled {
	background-color: #d87f7fd1;
	cursor: not-allowed;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
